<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-8 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% 10.times do %>
        <div class="group relative">
          <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75">
            <img src="https://www.luxsphere.co/wp-content/uploads/most-expnsive-airbnb-in-the-world-Villa-Victoria-4-.jpg" alt="Front of men&#039;s Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
          </div>
          <div class="mt-2">
            <div class="flex justify-between">
              <h3 class="text-base font-medium text-gray-700">
                <a href="#">
                  <span aria-hidden="true" class="absolute inset-0"></span>
                  Udaipur, India
                </a>
              </h3>
              <p class="flex items-center text-sm font-light">
                <svg
                  class="mr-1 block w-3 h-3 fill-current"
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 32 32" 
                  aria-hidden="true" 
                  role="presentation" 
                  focusable="false" 
                >
                  <path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
                </svg>
                4.8
              </p>
            </div>
            <p class="mt-0.5 text-sm text-gray-500">Hosted by Rajat</p>
            <p class="mt-0.5 text-sm text-gray-500">20-25 Jan</p>
            <p class="mt-0.5 text-sm font-light text-black"><span class="font-medium">$110</span> night</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
