<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">
  <%= render 'shared/profile_sidebar' %>
  
  <main class="px-8 py-8 border rounded-md lg:flex-auto my-8">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900">Reservations & Payments</h2>
    </div>
  </main>
</div>
