/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}

.swiper:hover {
  .swiper-button-next {
    display: block !important;
  }

  .swiper-button-prev {
    display: block !important; 
  }
}

.swiper-button-next {
  display: none !important;
  width: 28px !important;
  height: 28px !important;
  background-color: white;
  background-image: url('assets/next.svg') !important;
  border-radius: 50%;
  border-width: 4px;
  border-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.swiper-button-next::after {
  content: '' !important;
}

.swiper-button-prev {
  display: none !important;
  width: 28px !important;
  height: 28px !important;
  background-color: white;
  background-image: url('assets/prev.svg') !important;
  border-radius: 50%;
  border-width:4px;
  border-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.swiper-button-prev::after {
  content: '' !important;
}
