#stripe-form {
  margin-top: 24px;
  font-family: inherit;

  label {
    font-family: inherit;
  }

  #card-element {
    border: 1px solid gray;
    border-radius: 8px;
    margin-top:8px;
  }

  input[type="submit"] {
    background-color: rgb(255, 90, 95);
    color: white;
    padding: 12px 32px;
    border-radius: 8px;
    margin-top: 24px;
    font-size: 16px;
    font-weight: medium;
  }
}
